<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/cv">CV</a></li>
        		<li><a href="/publications">Publications</a></li>
            <li><a href="/presentations">Presentations</a></li>
			      <li><a href="/projects">Projects</a></li>
        		<!--<li><a href="/blog">Blog</a></li>-->
    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
    			<ul>
        		<li><a href="mailto:n.nikolaou@ucl.ac.uk">Email</a></li>
        		<li><a href="https://github.com/nnikolaou">Github</a></li>
			      <li><a href="https://www.linkedin.com/in/nikos-nikolaou-60931986/">LinkedIn</a></li>
			      <li><a href="https://www.researchgate.net/profile/Nikos_Nikolaou5">Researchgate</a></li>
			      <li><a href="https://scholar.google.com/citations?user=R6b6Rp8AAAAJ&hl=en">Google Scholar</a></li>
			      <li><a href="https://www.ucl.ac.uk/astrophysics/people/dr-nikolaou-nikolaos-research-associate">Contact</a></li>
			      <li><a href="http://www.cs.man.ac.uk/%7Enikolaon/index.html">Manchester Page</a></li>
			   </ul>
			</footer>
		</body>
	</html>
